*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
   }

.container {
    width: 1140px;
    margin: 0 auto;
    border: 1px solid rgb(96, 253, 5);
    }

.paragraf {
    font-size: 16px;
    line-height: 26px;
    color:#1F3F68;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.paragraf_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    text-align: center;
}

.paragraf_h1 {
    width: 425px;
    /*border: 1px solid black;*/
}



.heading_h1 {
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    color:#1F3F68;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    /*border: 1px solid black; */
 }



.heading_h2 {
    font-weight: 500;
    font-size: 44px;
    
}

.heading_h3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    
}

.heading_h4 {
    font-size: 20px;
    line-height: 30px;
    color:#1F3F68 ;
}

.what-we-do {
    padding-top: 64px;
}

.index {
    
}

.index_box {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
  
}

.index_service {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

.index_header {
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}

.index_content {
    padding: 32px 44px;
    box-sizing: border-box;
    width: 359px;
    flex-wrap: wrap;
    flex-basis: 359px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;    
 }

.index_content_header {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
    text-align: center;
}

.project {

}

.project_item {
    
    position: relative;
}

.project_item_margin {
    margin-right: 32px;
}

.project_image {
    width: 100%;
}

.project_text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project_parent_text {
    top: 32px;
    left: 32px;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
}

.project_parent {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.card_img {
    align-self: center;
    margin-bottom: 51px;
}

.card_link {
    
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #5A98D0;
}

.heading_h3 {
    font-size: 36px;
    text-align: center;
}


.data {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.send {
    background:#5A98D0;
    box-shadow: 5px 20px 50px rgba(16,112,177,0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 15px;
}

/*Div для Index.html*/

.header {
    height: 768px;
    border: 4px solid rgb(236, 9, 9);
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    padding-top: 42px;
} /*Используется в Index.html и contacts.html*/
 
.header_nav { 
    display: flex;
    justify-content: space-between;
    /*border: 3px solid rgb(6, 105, 23);*/

} /*Используется в Index.html и contacts.html*/

.header_content {
    padding-top: 115px;
    border: 3px solid rgb(26, 172, 240);
    background-image: url(../Gb_html/img/illustration.png);
    background-repeat: no-repeat;
    background-position:right center;
} /*Используется в Index.html и contacts.html*/


.header_contact_inner {
    display: flex;
    justify-content: center;
}

.header_contact_us {
    text-align: center;
}

.footer {
    
    margin-top: 112px;
    border: 3px solid rgb(243, 4, 4);
    background: #316099;
    } /*Используется в Index.html и contacts.html*/


.footer_content {
    display: flex;
    justify-content: space-between;
    
    
    
   /* border: 3px solid rgb(214, 21, 166);*/
    
} /*Используется в Index.html и contacts.html*/

.footer_content_right {
    top: 180px;
    left: 114px;
    position: relative;
}


.footer_bottom2 {
    border: 1px solid rgb(243, 4, 4);
   
    position: absolute;
}

.footer_heading_h3 {
    font-style: normal;
    font-weight: normal;
    width: 340px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.footer_paragraf {
    font-size: 16px;
    line-height: 26px;
    color:#1F3F68;
    line-height: 26px;
    letter-spacing: 0.05em;
    margin-bottom: 96px;
}

.footer_bottom {
    position: absolute;
    top: 32px;
    right: 32px;
    

}

.footer_contacts {
  padding-top: 64px;
} 

.footer_links_ol {
    display: flex;
    justify-content: space-between;
    color:#fff;
    border: 1px solid red;
    
}

.footer_name {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    
}

.footer_links { 
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
    
}

.footer_copyright { 
   padding-top: 64px;
} /*Используется в Index.html и contacts.html*/



/*Div для Contacts.html*/

.image {
    border: 3px solid rgb(66, 180, 214);
    
}

.contacts {
    border: 3px solid rgb(241, 16, 27);
}

.address {    
   /* border: 3px solid rgb(248, 9, 21);*/
}

.phone { 
     
    /*border: 3px solid rgb(248, 244, 9);*/
}

.phone_number {
    /*border: 3px solid rgb(232, 167, 70);*/
}

.phone_number_ul {
    list-style-type: none;
}

.service {    
    /*border: 3px solid rgb(9, 248, 61);*/
}

.service_link {
    /*border: 3px solid rgb(47, 133, 212);*/
    
}

.service_link_ul {
    list-style-type: none;

}

.message{
    border: 3px solid rgb(241, 16, 27);
}


.map {
    /*border: 3px solid rgb(224, 248, 9);*/
    display: flex;
    justify-content: center;
}

hr {
    opacity: 0.4;     
    border: 1px solid #fff
}
