*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
   }

.container {
    width: 1140px;
    margin: 0 auto;
    border: 1px solid rgb(96, 253, 5);
    }

.paragraf {
    font-size: 16px;
    line-height: 26px;
    color:#1F3F68;
}

.paragraf_h1 {
    width: 425px;
    /*border: 1px solid black;*/
}

.heading_h1 {
    width: 510px;
    font-size: 64px;
    color:#1F3F68;
    /*border: 1px solid black; */
 }

.heading_h2 {
    font-weight: 500;
    font-size: 44px;
    
}
.what-we-do {
    font-size: 36px;
    text-align: center;
}

.heading_h3 {
    font-size: 36px;
    text-align: center;
}

.heading_h4 {
    font-size: 20px;
    line-height: 30px;
    color:#1F3F68 ;
}

.index_content_text {
    width: 359px;
    /*border: 1px solid black;*/
}

.heading_h3 {
    font-size: 36px;
    text-align: center;
}

.heading_h3_footer {
    width: 340px;
   /* border: 1px solid black;*/
}

.data {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.send {
    background:#5A98D0;
    box-shadow: 5px 20px 50px rgba(16,112,177,0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 15px;
}

/*Div для Index.html*/

.header {
    border: 4px solid rgb(236, 9, 9);

} /*Используется в Index.html и contacts.html*/
 
.header_nav { 
    display: flex;
    justify-content: space-between;
    /*border: 3px solid rgb(6, 105, 23);*/

} /*Используется в Index.html и contacts.html*/

.header_content {
    margin-top: 20px;
    border: 3px solid rgb(26, 172, 240);
    
} /*Используется в Index.html и contacts.html*/

.header_contact_inner {
    display: flex;
    justify-content: center;
}

.header_contact_us {
    text-align: center;
}

.index {
    margin-top: 20px;
    border: 4px solid rgb(95, 10, 145);

}

.index_container {
    /*border: 3px solid rgb(15, 136, 21);*/
    display: flex;
    justify-content: space-between;
   

}

.index_content {
    width: 359px;
    flex-wrap: wrap;
    flex-basis: 359px;
    border: 3px solid rgb(60, 78, 161);
        
 }

.index_center {
    margin-top: 20px;  
    text-align: center;
    border: 3px solid rgb(9, 164, 236);
}

.index_service {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.footer {
    margin-top: 20px;
    border: 3px solid rgb(243, 4, 4);
    } /*Используется в Index.html и contacts.html*/


.footer_content {
    width: 495px;
   /* border: 3px solid rgb(214, 21, 166);*/
    
} /*Используется в Index.html и contacts.html*/

.footer_contacts {
   /*  border: 3px solid rgb(21, 214, 85);*/
} /*Используется в Index.html и contacts.html*/

.footer_links_ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.footer_copyright { 
   /* border: 3px solid rgb(224, 171, 231);*/
} /*Используется в Index.html и contacts.html*/



/*Div для Contacts.html*/

.image {
    border: 3px solid rgb(66, 180, 214);
    
}

.contacts {
    border: 3px solid rgb(241, 16, 27);
}

.address {    
   /* border: 3px solid rgb(248, 9, 21);*/
}

.phone { 
     
    /*border: 3px solid rgb(248, 244, 9);*/
}

.phone_number {
    /*border: 3px solid rgb(232, 167, 70);*/
}

.phone_number_ul {
    list-style-type: none;
}

.service {    
    /*border: 3px solid rgb(9, 248, 61);*/
}

.service_link {
    /*border: 3px solid rgb(47, 133, 212);*/
    
}

.service_link_ul {
    list-style-type: none;

}

.message{
    border: 3px solid rgb(241, 16, 27);
}


.map {
    /*border: 3px solid rgb(224, 248, 9);*/
    display: flex;
    justify-content: center;
}

