
*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
   }

.header {
    max-width: 1140px;
    margin: 0 auto;
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    padding: 42px 0 0 0;
}

.header_contacts {
    max-width: 1140px;
    margin: 0 auto;
    height: 471px;
    z-index: 0;
    padding: 42px 0 0 0;
}


.header_contacts_inner {
    background-image:url(../Gb_html/img/contact_back.png);
    background-repeat: no-repeat;
    padding-top: 40px;
}

.header_contact_us {
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
 
.header_nav { 
    display: flex;
    justify-content: space-between;
    padding-bottom: 54px;

} 

.header_content {
    padding-top: 115px;
    background-image: url(../Gb_html/img/illustration.png);
    background-repeat: no-repeat;
    background-position:right center;
} 


.container {
    max-width: 1140px;
    margin: 0 auto;
    /*border: 1px solid rgb(96, 253, 5);*/
    }

.paragraf {
    font-size: 16px;
    line-height: 26px;
    color:#1F3F68;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.paragraf_address {
       
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}


.paragraf_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    text-align: center;
}

.paragraf_h1 {
    padding: 0 0 71px 0;
    width: 425px;
    
}

.heading_h1 {
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    color:#1F3F68;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    
 }



.heading_h2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    
}


.heading_paragraf_h2 {
    width: 75%;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing:0.04em;
    color: rgba(255, 255, 255, 0.6);
    margin: 32px auto 64px;
    padding-bottom: 40px;
}


.heading_h3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    
}

.heading_h4_message {
    margin: 56px auto 48px ;
    font-size: 20px;
    line-height: 30px;    
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
    padding-left: 56px;
}

.heading_h4_contacts {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
    padding: 40px 0 0 0;

}

.heading_h4_address { 
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
    margin-bottom: 24px;   
   
}

.what-we-do {
    padding-top: 64px;
}

.index_box {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
  
}

.index_service {
    display: flex;
    justify-content: space-around;
    z-index: 1;
    margin-bottom: 96px;
}

.index_header {
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}

.index_content {
    padding: 32px 44px;
    box-sizing: border-box;
    width: 359px;
    flex-wrap: wrap;
    flex-basis: 359px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;    
 }


.index_content_header {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
    text-align: center;
}


 .top_botton {

    font-size: 16px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.04em;
    color: #FFFFFF; 
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    display: inline-block;
 }

 .project {
     padding: 64px 0 0 0;
 }

.project_item {
    
    position: relative;
}

.project_item_margin {
    margin-right: 32px;
}

.project_image {
    width: 100%;
}

.project_text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project_parent_text {
    top: 32px;
    left: 32px;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
}

.project_parent {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.card_img {
    align-self: center;
    margin-bottom: 51px;
}

.card_link {
    
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #5A98D0;
}

.data {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    width: 428px;
    height: 72px;
}

.data_message {
    width: 428px;
    height: 144px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    
}

.send {
    width: 429px;
    height: 72px;
    background:#5A98D0;;
    box-shadow: 5px 20px 50px rgba(16,112,177,0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 72px ;
}

.contacts {
    margin: 65px 0 0 0;
    width: 300px;
    /*border: 3px solid rgb(241, 16, 27);*/
}
.image {
    margin-bottom: 56px;
}


.phone {
    margin-top: 40px;
}


.phone_number_ul {
    padding: 24px 0 0 0;
    list-style-type: none;
}

.phone_link_img {
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    padding: 0 0 16px 19px;

}

.service_link_img {
    text-decoration: none; 
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    padding: 0 0 16px 19px;
      
}

.service_link_ul {
    padding: 24px 0 0 0;
    list-style-type: none;

}

.message{
    width: 540px;
    height: 800px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px; 
    
}

.message_block {
   
    padding-left: 56px;
    padding-bottom: 32px;
}

.message_name {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    padding-bottom: 8px;
}

.map {
    
    display: flex;
    justify-content: center;
}

hr {
    opacity: 0.4;     
    border: 1px solid #fff
}

.footer {
    margin-top: 112px;
    background-image: url(../Gb_html/img/Rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
    } 

.footer_content_top{
    display: flex;
    justify-content: space-between;
     align-items: center;
}

.footer_content_text {
    padding: 91px 0 0 0;
}

.footer_botton {
    text-decoration: none;
    background: #5A98D0;
    padding:15px 80px ;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF; 
     
}

.footer_content {
    width: 495px;
    margin-top: 61px;
    margin-bottom: 96px;
}
       
.footer_heading_h3 {
    font-style: normal;
    font-weight: normal;
    width: 340px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin: 0  0 32px;
}

.footer_paragraf {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;   
    color: #FFFFFF;
    opacity: 0.6;
    padding: 0 0 96px 0;
}

.footer_paragraf_copy {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;   
    color: #FFFFFF;
    opacity: 0.6;
    
}

.footer_contacts {
  padding-top: 64px;
} 

.footer_links_ol {
    display: flex;
    justify-content: space-between;
    color:#fff;
    list-style-position: inside;
    
}


.footer_links { 
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
    flex-grow: 1;
    
}

.footer_copyright { 

      padding:64px 0 64px 0;
} 
